extends ../layout.pug

block content
  h1.greeting Change Password

  .panel.panel-default
    .panel-heading
      h2.panel-title Change Password

    .panel-body
      form(
         action='/settings/change-password'
         method='POST'
      )
        .form-group
          label Current Password

          input.form-control(
            type='password'
            name='password'
          )
        .form-group
          label New Password

          input.form-control(
            type='password'
            name='newPassword'
          )
        .form-group
          label Repeat New Password

          input.form-control(
            type='password'
            name='confirmPassword'
          )

        input.btn.btn-primary(
          type='submit'
          value='Save'
        )
