extends ../layout.pug

block content
  h1.greeting Change email

  .panel.panel-default
    .panel-heading
      h2.panel-title Change Email Address

    .panel-body
      form(
       action='/settings/change-email'
       method='POST'
      )
        .form-group
          label Email Address

          input.form-control(
            type='email'
            name='email'
            value=user.email
          )

        input.btn.btn-primary(
          type='submit'
          value='Save'
        )
