extends ../layout.pug

block content
  h1.greeting Forgot password

  .panel.panel-default
    .panel-heading
      h2.panel-title Get a new password

    .panel-body
      form(
         action='/login/forgot-password'
         method='POST'
      )
        .form-group
          label Please enter your username
          if form && form.prefill.userId
            - var prefill = form.prefill.userId;

          input.form-control(
            type='text'
            name='userID'
            placeholder='Enter username'
            value= prefill || ''
          )

        input.btn.btn-primary(
          type='submit'
          value='Continue'
        )
