extends ../layout.pug

block content
  h1.greeting Login

  .panel.panel-default
    .panel-heading
      h2.panel-title Login Form

    .panel-body
      form(
         action='/login'
         method='POST'
      )
        .form-group
          label User Name
          if form && form.prefill.userId
            - var prefill = form.prefill.userId;

          input.form-control(
            type='text'
            name='userID'
            placeholder='Enter username'
            value= prefill || ''
          )
        .form-group
          label Password
          input.form-control(
            type='password'
            name='password'
            placeholder='Enter the password'
          )
        input.btn.btn-primary(
          type='submit'
          value='Login'
        )

  .panel.panel-default
    .panel-body
      p Forgot
        = ' '
        a(href='/login/forgot-password') password
        = ' '
        | or
        = ' '
        a(href='/login/forgot-user-name') user name
