extends ../layout.pug

block content
  h1.greeting Register

  .add-greeting.panel.panel-default
    .panel-heading
      h2.panel-title Registration Form

    .panel-body
      form(
         action='register'
         method='POST'
      )
        .form-group
          label User Name (only a-z, numbers, - and _)
          if form && form.prefill
            - var prefillUserID = (form.prefill.userID ? form.prefill.userID : "")
            - var prefillEmail = (form.prefill.email ? form.prefill.email : "")

          input.form-control(
            type='text'
            name='userID'
            placeholder='Enter username'
            value=prefillUserID || ""
          )
        .form-group
          label Email
          input.form-control(
            type='email'
            name='email'
            placeholder='Enter your e-mail'
            value=prefillEmail || ""
          )
        .form-group
          label Password
          input.form-control(
            type='password'
            name='password'
            placeholder='Enter the password'
          )

        .form-group
          label Repeat Password
          input.form-control(
            type='password'
            name='confirmPassword'
            placeholder='Enter the password'
          )

        input.btn.btn-primary(
          type='submit'
          value='Add'
        )
